venv
data/
notebooks/SoccermaticsForPython/
.cache/
.ipynb_checkpoints/
__pycache__/
app/fast-app/__pycache__/
notebooks/.cache/
notebooks/.ipynb_checkpoints/
notebooks/__pycache__/
notebooks/oud/.ipynb_checkpoints/
